html {
    /* server background */
    background: url("/img/serverpicture.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    /* background */

    /* text */
    font-family: 'Roboto', sans-serif;
}