html {
    /* server background */
    background: url("/img/serverpicture.jpg") no-repeat center fixed;
    background-size: cover;
}

body {
    /* text */
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#topPanel {
    background: linear-gradient(#30E3CA, rgb(143, 167, 162));
    box-shadow: 0px 0px 7px black;
}

#cornerLogo {
    width: 200px;
    margin: 10px;
}

#mainJPG {
    width: 650px;
}

#mainLogo {
    display: flex;
    justify-content: center;
}

#mainBody {
    background: #e4f9f5b9;
    margin: 50px auto;
    padding: 50px 200px 25px;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 7px black;
    border-radius: 7px;
}

#rulesButton {
    background: #11999ea1;
    transition: 0.3s;
    border: 0px;
    box-shadow: 0px 0px 3px #40514E;
    padding: 5px 100px;
}

#rulesButton:hover {
    cursor: pointer;
    background: #40514Ea1;
    color: #b7ebe4;
}

#credit {
    font-size: 14px;
}

hr {
    border: 1px solid #40514E;
}